*{
  background-color: rgb(34, 34, 34);
}

.cont{
  background-color: black;
  border-radius: 1em;
  padding: 1em;
}

button{
  border: none;
  border-radius: 2em;
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  margin: 0.3em;
  cursor: pointer;
}

#btn{
  width: 6.6em;
  border-radius: 1em;
}

.orange{
  background-color: #FF8500;
  color: white;
}

.orange:hover{
  background-color: #c76701;
}

.gray{
  background-color: #505050;
  color: white;
}

.gray:hover{
  background-color: #434343;
}

.res{
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 1.2em;
  font-size: 2.6em;
  background-color: black;
}

.bra{
  background-color: white;
}

.bra:hover{
  background-color: #8b8b8b;
}